
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/images/JDZ.png" />
    <link rel="stylesheet" href="~/fonts/Formula1-Regular.otf" />
    <script src="https://kit.fontawesome.com/82d874878b.js" crossorigin="anonymous"></script>
    <title>JDZ Ph Formula 1 - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="body-flex">

    @{ 
        Html.RenderAction("HomeDetails", "Home");
    }

    <div class="container body-content content-flex">

        @RenderBody()
    </div>

    <footer>
        <!-- Footer Links -->
        <div class="container page-footer font-small clearfix">
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <div class="footer-header col-md-12">
                        <a href="/Home/About">Credits</a>
                        <a href="https://www.facebook.com/JDZPhF1GP">Contact Us</a>
                    </div>

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase">Partners</h5>
                        <a href="https://www.facebook.com/simracingph">Sim Racing PH</a>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-6 mb-md-0 mb-6">

                        <!-- Links -->
                        <h5 class="text-uppercase">Drivers Media</h5>
                        <div class="drivers-media">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://www.facebook.com/JDZGamePlays/">Johnny Driftzone</a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCaym-Qprge7TbXOYMPAiKug">Keith Co</a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/MimilsRESING">Sev Tagulo</a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/TototPlays">Lex Cabanting</a>
                                </li>
                            </ul>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://www.facebook.com/farmb0yfan">Paul Au</a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/PoloydGP">Kenneth Flores</a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/carlsupersuave/videos">Carl Henry</a>
                                </li>
                                <li>
                                    <a href="#!">Your Name Here</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright py-3">
                © @DateTime.Now.Year Copyright:
                <a href="https://www.facebook.com/JDZPhF1GP"> JDZ Ph F1</a>
            </div>
            <!-- Copyright -->
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>
